.row{
	margin-right: -15px;
    margin-left: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.coloumn{
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.dateInline{
	font-weight: bold;
}
.table{
	width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: transparent;
}
.table tr {
    border-top: 1px solid #eceeef;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}
